* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 900px;
    display: flex;
    background: white;
    border-radius: 10px;
}

.section {
    flex: 1;
    padding: 30px;
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 126px;
   
}

