h4{
    color: rgb(35, 187, 214);
    border: 2px solid blueviolet;
}
h2{
    color: orange;
    border: 5px solid pink;
}

h3{
    color: rgba(68, 0, 0, 0.5);
    border-style: double;
    border-color: blue;
    border-radius: 25px;
}
h5{color: hsla(55, 92%, 5%, 0.668);
    border-width: 5px 10px 7px 20px;
    border-style:solid; border-color:palevioletred;
    border-top: dotted;
    
}
body{
    background-color: crimson;

    background-image: url(https://m.media-amazon.com/images/I/81PGwdUf0OL.jpg);
background-repeat: no-repeat;
 
background-position-y:10cm ;

background-size: 40%;

}