.hello
{
    height: 100px;
    width: 200px;
    border: 10px solid;
padding: 30px ;
margin: 40px 10px ;
}
h2{
    text-align: center;
}
h3{
    text-align: left;
}
h4{
    text-align: center;
}

ul.b{
    list-style-type: square;
}
ol.c{
    list-style-type: lower-alpha;
}